.mendatory {
    color:red;
    float:right;
    font-size:25px;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.9s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1 {
    padding-bottom:30px;
	padding-top:0;
	background-color:#55c948;
	font-weight: 700;
}

.success-msg {
	color: #270;
	background-color: #DFF2BF;
	 margin: 10px 0;
	padding: 30px;
	width:280px;
	margin-left:900px;
	position:absoulte;
	border-radius: 3px 3px 3px 3px;
  }