<!--------Navbar------->
<div id='cssmenu'>
  <ul>
    <li class="last"><a routerLink='home'><span><i style="color:white" class="fas fa-bone fa-lg"></i></span></a></li>
    <li class="last" style="float:right"><a routerLink="contact"><span>Contact</span></a></li>
    <li class="last" style="float:right"><a routerLink="about"><span>About</span></a></li>
    <li class="last" style="float:right"><a routerLink="home"><span>Home</span></a></li>
  </ul>
</div>
<router-outlet></router-outlet>
<!---Contact us-->

<hr class=marginHr>
<h5 class="pr-4 pt-3 contact">Follow Us</h5>
<div class="s-m">
  <a class="fa fa-facebook" href="https://www.facebook.com/niv.eini"></a>
  <a class="fa fa-github" id="tweet" href="https://github.com/niveinii"></a>
  <a class="fa fa-envelope" id="google" href="https://mail.google.com/mail/u/0/#inbox"></a>
  <a class="fa fa-youtube" id="youtube" href="https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ"></a>
  <a class="fa fa-linkedin" id="linkedin" href="https://www.linkedin.com/in/niv-eini-ba14b9122/"></a>
</div>