<!--------Navbar------->
<div id='cssmenu'>
    <ul>
       <li class="last"><a routerLink='home'><span><i style="color:white" class="fas fa-bone fa-lg"></i></span></a></li>
       <li class="last" style="float:right"><a routerLink="contact"><span>Contact</span></a></li>
       <li class="last" style="float:right"><a routerLink="about"><span>About</span></a></li>
       <li class="last" style="float:right"><a routerLink="home"><span>Home</span></a></li>
    </ul>
    </div>
<router-outlet></router-outlet>
<!---Contact us-->

<hr class=marginHr>
<h5 class="pr-4 pt-3 contact">Follow Us</h5>
<div class="s-m">
  <a class="fa fa-facebook" href="#"></a>
  <a class="fa fa-twitter" id="tweet" href="#"></a>
  <a class="fa fa-google-plus" id="google" href="#"></a>
  <a class="fa fa-youtube" id="youtube" href="#"></a>
  <a class="fa fa-linkedin" id="linkedin" href="#"></a>
</div>