<!------Quick Search & Input------>
<div class="container">
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4 pt-5">
       <p>Quick Search     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span> <input [(ngModel)]="searchTerm" id="searchBox" placeholder="Describe what you want" type="text"></span>
      </div>
      <div class="col-lg-4 pt-5 pl-5">
   <p class="cart-info">Cart<span>&nbsp;&nbsp;Info</span></p>
    <p class="cart-small">0&nbsp;Items<span class="cart-price">&nbsp;0$</span></p>
      </div>
    </div>
  </div>
<!--Items --->
<table class="table">
  <th *ngFor="let header of head">{{header.picture}} </th>
  <th *ngFor="let header of head">{{header.description}} </th>
  <th *ngFor="let header of head">{{header.cost}} </th>
  <th *ngFor="let header of head">{{header.checklist}} </th>
  <tr *ngFor="let item of inventory | inventoryFilter:searchTerm | paginate: { itemsPerPage: 5, currentPage: p }" class="box">
    <td class="row"><i class=" pl-4 {{item.picture}}"></i></td>    
    <td>{{item.description}}</td>
    <td>{{item.cost}}</td>
    <td>{{item.checklist}}</td>
  </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>