<!------Quick Search & Input------>
<div class="container">
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4 pt-5">
       <p>Quick Search     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span> <input type="text"></span>
      </div>
      <div class="col-lg-4 pt-5 pl-5">
   <p class="cart-info">Cart<span>&nbsp;&nbsp;Info</span></p>
    <p class="cart-small">0&nbsp;Items<span class="cart-price">&nbsp;0$</span></p>
      </div>
    </div>
  </div>

<!--Items --->

<div class="container pt-5">
    <div class="row">
        <div class="col-lg-2 borders"><b>Type</b></div>
        <div class="col-lg-5 borders"><b>Description</b></div>
        <div class="col-lg-2 borders"><b>Price</b></div>
        <div class="col-lg-2 borders"><b>Add/Remove Item</b></div>
      </div>
  <div class="row">
    <div class="col-lg-2 borders"><i class="fas fa-cookie-bite"> Dog Snacks</i></div>
    <div class="col-lg-5 borders">Treat your dog with an awesome Cookie snack!</div>
    <div class="col-lg-2 borders">50₪</div>
    <div class="col-lg-2 borders">Add</div>
  </div>
  <div class="row">
    <div class="col-lg-2 borders"><i class="fas fa-slash"> Leash</i></div>
    <div class="col-lg-5 borders">Brand New Titanium Leash</div>
    <div class="col-lg-2 borders">90₪</div>
    <div class="col-lg-2 borders">Add</div>
  </div>
  <div class="row">
    <div class="col-lg-2 borders"><i class="fas fa-dog"> Dog</i></div>
    <div class="col-lg-5 borders">Two Month Years Old King Charles</div>
    <div class="col-lg-2 borders">5,000₪</div>
    <div class="col-lg-2 borders">Add</div>
  </div>
  <div class="row">
    <div class="col-lg-2 borders"><i class="fas fa-baseball-ball"> Dog Toys</i></div>
    <div class="col-lg-5 borders">Golf Ball, Item Made From Old Pepole Hair</div>
    <div class="col-lg-2 borders">30₪</div>
    <div class="col-lg-2 borders">Add</div>
  </div>
  <div class="row">
      <div class="col-lg-2 borders"><i class="fas fa-cookie-bite"> Dog Snacks</i></div>
    <div class="col-lg-5 borders">This Is Some Prime Salmon Snaks With Roasted Potatoes</div>
    <div class="col-lg-2 borders">150₪</div>
    <div class="col-lg-2 borders">Add</div>
  </div>
</div>