<!------Quick Search & Input------>
<div class="container">
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4 pt-5">
<input type="text" class="form-control" id="focused" placeholder="Describe your desired item" style="width:270px" [(ngModel)]="searchTerm">

      </div>
      <div class="col-lg-4 pt-5 pl-5">
   <p class="cart-info">Cart<span>&nbsp;&nbsp;Info</span></p>
    <p class="cart-small">0&nbsp;Items<span class="cart-price">&nbsp;0$</span></p>
      </div>
    </div>
  </div>
<!--Items --->
<table class="table">
  <th *ngFor="let header of head">{{header.picture}} </th>
  <th *ngFor="let header of head">{{header.description}} </th>
  <th *ngFor="let header of head">{{header.cost}} </th>
  <th *ngFor="let header of head">{{header.checklist}} </th>
  <tr *ngFor="let item of inventory | inventoryFilter:searchTerm">
    <td class="row"><i class=" pl-4 {{item.picture}}"></i></td>    
    <td>{{item.description}}</td>
    <td>{{item.cost}}</td>
    <td>{{item.checklist}}</td>
  </tr>
</table>