.nav-color {
    background-color:#33B5E5;
    color:rgb(211,211,211);
    opacity: 0.1;
}

.borders {
    border:1px solid black;
   margin:0.5px;
}

.marginMore {
    padding-top:500px;
}

.cart-info{
    padding:0 20px;
    font-size:1rem;
    text-align:center;
    border:2px solid black;
    width:140px;
    background-color:#5DB2DE;
    color:white;
}
.cart-small{
    padding:0 20px;
    border:2px solid black;
    width:78px;
    text-align:start;
    background-color:#5DB2DE;
    color:white;
}
.cart-price {
    padding:1.5px 20px;
    border:2px solid black;
    width:40px;
    margin-left:5px;
    text-align:start;
    background-color:#5DB2DE;
    color:white;
}

#searchBox {
    width:220px;
    background-repeat: no-repeat;
}




        

.box {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%,#28A745 50%);

    transition: background-position 0.8s;
}

.box:hover {
    background-position:-70% -100%;
    color:white
}

.boldMe {
    font-family: 'Titillium Web', sans-serif;
    font-weight:400;
    font-size:16px;
}
 
#pagination {
    text-align:center;
    font-size: 20px;
}